In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations
from itertools import groupby
from itertools import chain
import datetime as dt
from time import strptime

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
158,tt1911658,132000000,373552094,Penguins of Madagascar,Tom McGrath|Chris Miller|Christopher Knights|C...,Simon J. Smith|Eric Darnell,The Movie Event That Will Blow Their Cover,"Skipper, Kowalski, Rico and Private join force...",92,Family|Animation|Adventure|Comedy,DreamWorks Animation,11/22/2014,6.5,2014
401,tt0429493,110000000,177238796,The A-Team,Liam Neeson|Bradley Cooper|Jessica Biel|Sharlt...,Joe Carnahan,There Is No Plan B,A group of Iraq War veterans goes on the run f...,117,Thriller|Action|Adventure|Comedy|Crime,20th Century Fox,6/10/2010,6.2,2010
1738,tt0418279,150000000,709709780,Transformers,Shia LaBeouf|Josh Duhamel|Megan Fox|Rachael Ta...,Michael Bay,Their war. Our world.,"Young teenager, Sam Witwicky becomes involved ...",144,Adventure|Science Fiction|Action,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/27/2007,6.6,2007
11,tt1617661,176000003,183987723,Jupiter Ascending,Mila Kunis|Channing Tatum|Sean Bean|Eddie Redm...,Lana Wachowski|Lilly Wachowski,Expand your universe.,In a universe where human genetic material is ...,124,Science Fiction|Fantasy|Action|Adventure,Village Roadshow Pictures|Dune Entertainment|A...,2/4/2015,5.2,2015
480,tt1213012,20000000,39300000,Alpha and Omega,Hayden Panettiere|Justin Long|Dennis Hopper|Ch...,Anthony Bell|Ben Gluck,A Pawsome 3D Adventure,Two mismatched wolves embark on a cross-countr...,88,Family|Animation,Lions Gate Family Entertainment|Relativity Med...,9/17/2010,5.5,2010

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#«прибыль/убытки» - разность между сборами и бюджетом фильма
data['profit'] = data['revenue'] - data['budget'] 

# разделение строк столбца с режиссерами
data_dir = data.copy()
data_dir.director = data_dir.director.str.split('|')
data_dir = data_dir.explode('director')

# разделение строк столбца с актерами
data_cast = data.copy()
data_cast.cast = data_cast.cast.str.split('|')
data_cast = data_cast.explode('cast')

# разделение строк столбца с жанрами
data_genres = data.copy()
data_genres.genres = data_genres.genres.str.split('|')
data_genres = data_genres.explode('genres')

# разделение строк столбца с киностудиями
data_product = data.copy()
data_product.production_companies = data_product.production_companies.str.split('|')
data_product = data_product.explode('production_companies')

#выделяем месяц из release_date
data_month = data.copy()
data_month.release_date = pd.to_datetime(data_month['release_date']).dt.strftime("%B")

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ответ на него
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+

In [6]:
max_budget = data.groupby(['imdb_id'])[['original_title','budget']].max()
max_budget = max_budget.sort_values(['budget'],ascending=False).head(1)
max_budget

                                        original_title     budget
imdb_id
tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

ВАРИАНТ 2

In [7]:
max_budget = (data[data['budget'] == data['budget'].max()]
                [['original_title','imdb_id']].values[0])
max_budget

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)' #+

In [9]:
data[data['runtime'] == data['runtime'].max()][['original_title','imdb_id']].values[0]

array(['Gods and Generals', 'tt0279111'], dtype=object)

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+

data[data['runtime'] == data['runtime'].min()][['original_title','imdb_id']].values[0]

array(['Winnie the Pooh', 'tt1449283'], dtype=object)

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = '4. 110' #+

round(data['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = '5. 107.0' #+

data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
answers['6'] = '6. Avatar (tt0499549)' #+

data[data['profit'] == data['profit'].max()][['original_title','imdb_id']].values[0]

array(['Avatar', 'tt0499549'], dtype=object)

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = '7. The Lone Ranger (tt1210819)' #+

data[data['profit'] == data['profit'].min()][['original_title','imdb_id']].values[0]

array(['The Lone Ranger', 'tt1210819'], dtype=object)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = '8. 1478' #+

count_films = data[data['revenue'] > data['budget']].count().values[0]
print('Количество фильмов - {}'.format(count_films))

Количество фильмов - 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = '9. The Dark Knight (tt0468569)' #+

data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008.revenue == data_2008.revenue.max()][['original_title','imdb_id']]

      original_title    imdb_id
599  The Dark Knight  tt0468569

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = '10. The Lone Ranger (tt1210819)' #+

data_set = data[(data['release_year'] >= 2012) & (data['release_year']<= 2014)]
data_set[data_set.profit == data_set.profit.min()][['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 11. Какого жанра фильмов больше всего?

In [18]:
answers['11'] = '11. Drama' #+

# первый способ
list_genres = []

# разделяем жанры и считаем количество фильмов с данным жанром
for gen in data.genres.str.split('|'):
    list_genres.append(gen) 
list_general = list(chain.from_iterable(list_genres))

Counter(list_general).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [19]:
# второй способ
genres_count = Counter()

for gen in data.genres.str.split('|'):
    genres_count+= Counter(gen)
genres_count.most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = '12. Drama' #+

movies_plus = data[data['profit'] >0].genres.str.split('|').explode().copy()
Counter(movies_plus).most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = '13. Peter Jackson' #+

data_gr = data_dir.groupby(['director'])['revenue'].agg(['sum'])
data_gr = data_gr.sort_values(by='sum', ascending=False).index[0]

print('Самые большие суммарные кассовые сборы у {}'.format(data_gr))

Самые большие суммарные кассовые сборы у Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = '14. Robert Rodriguez' #+

data_gr = data_dir[data_dir.genres.str.contains('Action')]['director']
data_gr = data_gr.value_counts().index[0]

print('Больше всего фильмов в стиле Action снял {}'.format(data_gr))

Больше всего фильмов в стиле Action снял Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = '15. Chris Hemsworth' #+

data_cs = (data_cast[data_cast.release_year == 2012]
                .groupby(['cast'])['revenue'].agg(['sum'])
                .sort_values(by='sum', ascending=False))
data_cs.index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = '16. Matt Damon' #+

data_cs = (data_cast[data_cast.budget > data_cast.budget.mean()]
                .groupby(['cast'])['budget'].agg(['count'])
                .sort_values(by='count', ascending=False))
data_cs.index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = '17. Action' #+

data_gr = (data_genres[data_genres.cast.str
                .contains('Nicolas Cage')]['genres']
                .value_counts())

data_gr.index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)' #+

data_pr = (data_product[data_product.production_companies
                .str.contains('Paramount Pictures')]
                .groupby(['original_title','imdb_id'])['profit'].agg(['min'])
                .sort_values(by='min', ascending=True).index[0])

data_pr

('K-19: The Widowmaker', 'tt0267626')

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '19. 2015' #+

data_year = data.copy()
year_max = (data_year.groupby(['release_year'])[['revenue']].sum()
                .sort_values(['release_year'],ascending=False).head(3))
year_max

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '20. 2014' #+

data_pr = (data_product[data_product.production_companies.str
                .contains('Warner Bros')].groupby(['release_year'])['profit']
                .agg(['sum']).sort_values(by='sum', ascending=False))
data_pr.head(3)

                     sum
release_year
2014          2292949646
2007          2201675217
2008          2134595031

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = '21. Сентябрь' #+

data_m = (data_month.groupby(['release_date'])[['original_title']].count()
                .sort_values(['original_title'],ascending=False).head(3))
data_m

              original_title
release_date
September                227
December                 190
October                  186

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = '22. 450' #+

data_summer = data_month.copy()
data_summer = (data_summer[data_summer['release_date']
                .isin(['June', 'July','August'])])
data_sum = data_summer.groupby(['release_date'])[['original_title']].count().sum()

display('Количество фильмов: {}'.format(int(data_sum)))

'Количество фильмов: 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = '23. Peter Jackson ' #+

data_winter = data_month.copy()
data_winter = (data_winter[data_winter['release_date']
                .isin(['December','January','February'])])
data_winter.director = data_winter.director.str.split('|')
data_winter = data_winter.explode('director')

data_w = (data_winter.groupby(['director'])['original_title'].agg(['count'])
                .sort_values('count',ascending=False).head(3))

print(data_w)

                   count
director
Peter Jackson          7
Steven Soderbergh      6
Clint Eastwood         6

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = '24. Four By Two Productions ' #+

data_product['length'] = data_product.original_title.map(lambda x: len(x))

#среднее кол-во символов в названии фильмов по студиям
data_pr_mean = (data_product.groupby(['production_companies'])['length']
                .agg('mean').sort_values(ascending=False).head(3)) 

print(data_pr_mean)

production_companies
Four By Two Productions    83.0
Jim Henson Company, The    59.0
Dos Corazones              47.0
Name: length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = '25. Midnight Picture Show' #+

data_product['count_word'] = data_product.overview.str.count(' ').add(1)
data_pr = (data_product.groupby(['production_companies'])['count_word']
                .agg(['mean']).sort_values(by='mean',ascending=False).head(3))

print(data_pr)

                                 mean
production_companies
Midnight Picture Show           175.0
Heineken Branded Entertainment  161.0
Room 9 Entertainment            161.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [34]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave' #+

data_retings = data.copy()
data_rate = (data_retings[['original_title','imdb_id','vote_average']]
                .sort_values(['vote_average'],ascending=False).head(18))

display(data_rate)

                                     original_title    imdb_id  vote_average
599                                 The Dark Knight  tt0468569           8.1
118                                    Interstellar  tt0816692           8.0
125                              The Imitation Game  tt2084970           8.0
9                                        Inside Out  tt2096673           8.0
34                                             Room  tt3170832           8.0
1183                        The Wolf of Wall Street  tt0993846           7.9
128                                       Gone Girl  tt2267998           7.9
1191                               12 Years a Slave  tt2024544           7.9
119                         Guardians of the Galaxy  tt2015381           7.9
1081  The Lord of the Rings: The Return of the King  tt0167260           7.9
1800                                        Memento  tt0209144           7.9
370                                       Inception  tt1375666           7.9
872                                     The Pianist  tt0253474           7.9
138                        The Grand Budapest Hotel  tt2278388           7.9
1188                                            Her  tt1798709           7.8
28                                        Spotlight  tt1895587           7.8
124                                      Big Hero 6  tt2245084           7.8
177                          The Fault in Our Stars  tt2582846           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint' #+

actors_pair = []
data_cast = data.copy()

for cast in data_cast.cast.str.split('|'):
    actors_pair.extend(combinations(cast,2))
    
result = Counter(actors_pair).most_common(1)

print(result)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу

sorted(answers.items(), key=lambda x: int(x[0]))

[('1', '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'),
 ('2', '2. Gods and Generals (tt0279111)'),
 ('3', '3. Winnie the Pooh (tt1449283)'),
 ('4', '4. 110'),
 ('5', '5. 107.0'),
 ('6', '6. Avatar (tt0499549)'),
 ('7', '7. The Lone Ranger (tt1210819)'),
 ('8', '8. 1478'),
 ('9', '9. The Dark Knight (tt0468569)'),
 ('10', '10. The Lone Ranger (tt1210819)'),
 ('11', '11. Drama'),
 ('12', '12. Drama'),
 ('13', '13. Peter Jackson'),
 ('14', '14. Robert Rodriguez'),
 ('15', '15. Chris Hemsworth'),
 ('16', '16. Matt Damon'),
 ('17', '17. Action'),
 ('18', '18. K-19: The Widowmaker (tt0267626)'),
 ('19', '19. 2015'),
 ('20', '20. 2014'),
 ('21', '21. Сентябрь'),
 ('22', '22. 450'),
 ('23', '23. Peter Jackson '),
 ('24', '24. Four By Two Productions '),
 ('25', '25. Midnight Picture Show'),
 ('26', '26. Inside Out, The Dark Knight, 12 Years a Slave'),
 ('27', '27. Daniel Radcliffe & Rupert Grint')]

In [37]:
# и убедиться что ничего не пропустил)
len(answers)

27